// Place all the styles related to the Categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table, td, th {
    border: 5px solid #800000;
    text-align: center;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 15px;
}

th#main, td#main{
  color: #006699;
  font-size: 250%;
  padding: 40px;
}

#categories{
  padding: 30px;
}
